body {
        font-size: 18px;
        line-height: 150%;
        font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif; }

header {
    background: #4aaaa5;
    border:3px #cccccc;
    padding: 3.9%;
    margin-left: 6.5%;
    color: #ffffff;
    position: absolute;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1{
    font-size: 28px;
    font-weight: bold;
}

.container{
    background-image: url("../images/grey_texture.png");
    width: 100%;
    height: 100%;
    overflow: auto;
}

#nav-bar {
    color: #777777;
    background-color: #ffffff;
    text-align: right;
    padding: 3.9%;
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: #dddddd;
}

nav{

    padding-right: 12.5%; 
}

a:link{
    color: #777777;
    text-decoration: none;
} 

#portfolio {
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: #ffffff;
    width: 46%;
    margin-left:6.5%;
    margin-top:5%;
    margin-bottom: 5%;
    padding: 30px;
    float: left;
    list-style-type:none
}

#title {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom-style:solid;
    border-width: 3px;
    border-bottom-color: #dddddd;
    padding-bottom:25px;
    padding-top: 10px;
}

.placeholder ul{
    margin-left: 0px;
    margin-right:0px;
    margin-top: 15px;
    list-style-type:none;
}
.placeholder li{
    position: relative;
    margin-right: 3.5%;
    margin-top: 3.5%;
    margin-left: 0px;
    margin-bottom: 2.5%;
    align-items: center;
}

.placeholder h2{
    font-size: 20px;
    font-color: #ffffff;
    background: #4aaaa5;
    border:3px #cccccc;
    padding: 15px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: 270px;

}   

.connect-box{
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
    background: #ffffff;
    width:19%;
    height: 18.5%;
    padding:2%;
    margin-top:5%;
    margin-right:15%;
    align-items: center;
    text-align: center;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: right;
}
.connect-box ul{
    list-style-type: none;
    margin: auto;
    padding: 3%;
}

.connect-box li{
    display: inline-block;
    }
.connect-box li img{
    height: 60px;
    width:60px;
}
h3{
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: #dddddd;
    margin-bottom: 4.5%;
    font-size: 24px;
    padding: 4.5%;
    font-weight: bold;
}

footer{
    background: #666666;
    font-size: 15px;
    color: #ffffff;
    border-top-style: solid;
    border-width: 7px;
    border-color: #4aaaa5;
    padding: 2.5%;
    text-align: center;
    clear:left;
    }
    /* For desktop: */
@media screen and (max-width: 980px)
    and (min-width: 769px) {
    
    .placeholder li{
        height:100%;
        width:100%;
        margin:5%;
        }
    .placeholder h2{
        width: 81.2%;
    }
    .connect-box{
        width:20%;
        height:10%;
        }
    li img{
        width: 90%;
        height: 90%;
        }
    li{
        width:30%;
        }
    h3{
        font-size:20px;
        }
    }
    /* For Tablet: */
@media screen and (max-width: 768px)
    and (min-width: 641px)
    {
    header{
        margin: 0px 3%;
    }
    #nav-bar{
        margin-top: 0%;
        padding:3% 3% 3%;
        padding-right: 0px;
    }
    #portfolio{
        width:auto;
        height: auto;
        margin: 3%;
        float:none;
        }

    .connect-box{
        float: none;
        width: auto;
        height:auto;
        margin: 5% 3% 5% 3%;
        }
    }
    /* For Phone: */
@media screen and (max-width: 640px){
     header{
        float:right;
        width: 100%;
        height:auto;
        position: static;
        text-align: center;
        margin:0px;
        padding-top: 5%;
        padding-right: 0px;
        }
    nav{
        text-align: center;
        padding-right: 0px;
        }
    #nav-bar{
        padding-top: 15%;
        padding-bottom: 4%;
        }
    nav a:link{
        color: #777777;
        text-decoration: none;
        padding:10%;
        }
    #portfolio{
        width:auto;
        height: auto;
        margin: 3%;
        float:none;
        }
     .placeholder li{
        height:100%;
        width:100%;
        margin:5%;
        }
    .placeholder h2{
        width: 82.6%;
    }
    .connect-box{
        float: none;
        width: auto;
        height:auto;
        margin: 3%;
        }
    .placeholder li img{
        width: 90%;
        height: 90%;
        }
    }   
}
